.FilterButton {
  border-radius: 4px;

  padding: 3px 5px;

  color: #7e7e7e;
  font-size: 12px;

  border: 1px solid transparent;

  transition: border 0.2s, color 0.2s;

  &--active {
    color: #000000;

    border: 1px solid #e9d9d8;
  }
}

@media (max-width: 380px) {
  .FilterButton {
    font-size: 10px;
  }
}
