.TaskList {
  max-height: 70vh;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 4px;
  }

  &__empty {
    display: flex;
    align-items: center;

    padding: 10px 0;
    padding-left: 5px;

    border-bottom: 1px solid #cccccc;
  }
}
