.TaskItem {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 5px;
  padding: 10px 5px 10px 30px;

  border-bottom: 1px solid #cccccc;

  &__checkbox {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }

  &__label {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #000000;

    cursor: pointer;

    transition: color 0.2s, text-decoration 0.2s;

    &::before {
      content: "";
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);

      display: flex;
      justify-content: center;
      align-items: center;

      width: 15px;
      height: 15px;

      border-radius: 50%;

      border: 1px solid #7e7e7e;

      transition: border 0.2s;
    }
  }

  &__delete-button {
    font-size: 12px;
  }
}

.TaskItem__checkbox:checked + .TaskItem__label {
  color: #7e7e7e;

  text-decoration: line-through;
}

.TaskItem__checkbox:checked + .TaskItem__label::before {
  content: "";

  background-image: url("../assets/icons/done.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border: 1px solid #28a745;
}
